@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Raleway', sans-serif !important;
    /*font-family: 'Merriweather', serif;*/
}

.header-bg {
    background-color: #485084 !important;
}

.header-height {
    height: 120px !important;
}

.header-logo {
    height: 52px !important;
    margin-left: 15px !important;
}

li {
    white-space: nowrap !important;
}

.cta {
    background-color: #9E68F5 !important;
    border-radius: 10px !important;
    border: none !important;
    font-weight: 600 !important;
    letter-spacing: 1.7px;
}

#hero {
    background-image: url("img/Herobg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    margin-top: 120px;
    padding: 100px 25px;
}

#hero-form {
    background-color: white;
    padding: 35px;
    border-radius: 10px;
}

h1 {
    font-family: 'Merriweather', serif !important;
    font-weight: bold !important;
}

input {
    padding: 15px !important;
    border-radius: 10px !important;
    color: #212121 !important;
}

p {
    line-height: 25px !important;
    font-size: 17px !important;
}

h2 {
    font-family: 'Merriweather', serif !important;
    font-weight: bold !important;
}

#about {
    height: fit-content;
    padding: 100px 25px;
}

.about-img {
    width: -webkit-fill-available;
    max-width: 459px;
}

.about-img-box {
    position: absolute;
    z-index: -1;
    width: 421px;
    left: 200px;
    bottom: -562px;
    height: 191px;
}

#endometriosis {
    background-image: url("img/endometriosisbg.png");
    max-height: 614px;
    height: fit-content;
    padding: 0px 25px;
}

.endometriosis-img {
    margin-top: 50px !important;
    width: fit-content !important;
    max-width: 585px !important;
}

.p-color {
    color: #D5D5D5 !important;
}

.t-dark {
    color: #444444;
}

.t-purple {
    color: #9E68F5;
}

#symptoms {
    height: fit-content;
    padding: 150px 25px;
}

.sypmtoms-img {
    width: 120px !important;
    height: 120px !important;
}

h3 {
    font-family: 'Merriweather', serif !important;
    font-size: 25px !important;
    font-weight: bold !important;
    line-height: 32px !important;
}

.symptoms {
    background-color: #F9F9F9;
    border-radius: 10px;
    padding: 20px 30px !important;
}

#causes {
    background-image: url("/img/Other Treatment bg.png");
    height: fit-content;
    padding: 50px 25px;
}

.causes-img {
    width: fit-content !important;
    max-width: 505px !important;
}

#treatment {
    height: fit-content;
    max-height: 600px;
    padding: 50px 25px;
}

.treatment-img-box {
    position: absolute;
    z-index: -1;
    width: 421px;
    right: 39px;
    height: 460px;
}

.treatment-img {
    margin-top: 100px !important;
    width: 555px !important;
}


#plan {
    background-image: url("img/endometriosisbg.png");
    height: fit-content;
    padding: 50px 25px;
}

.plan-container {
    margin: 10px !important;
    width: 275px !important;
    height: 369px !important;
}

.plan-details {
    background-color: #F9F9F9;
    border-radius: 10px;
    padding: 25px !important;
}

.img-90 {
    width: 100px !important;
}

#robotic {
    height: fit-content;
    padding: 75px 25px;
}

.robotic-img {
    max-width: 100% !important;
}

#robotic-2 {
    height: fit-content;
    padding: 75px 25px;
    padding-top: 0px;
}

#services {
    background-image: url("img/Other Treatment bg.png");
    height: fit-content;
    padding: 50px 0px;
}

.services-container {
    margin: 10px !important;
    width: 340px !important;
    height: 320px !important;
}

#FAQ {
    height: fit-content;
    margin: 100px 25px;
}

.faq-title {
    font-size: 20px !important;
    font-weight: 600 !important;
}

.accordion-header {
    border: 1px solid #E8E8E8 !important;
    border-radius: 10px !important;
    padding: 20px 10px;
}

.accordion-button {
    background-color: transparent !important;
    padding: 5px 20px !important;
}

.accordion-item {
    border: none !important;
}



#footer {
    background-image: url("img/FooterBG.png");
    height: fit-content;
    padding: 75px 25px;
}

#footer-form {
    background-color: none;
    border-radius: 10px;
}

.accordion-button:not(.collapsed) {
    color: #9E68F5 !important;
    box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 transparent !important;

}

.accordion-button:not(.collapsed)::after {
    color: #9E68F5;

}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"%3E%3Cpath fill="%239e68f5" d="M21 18H3v-2h18v2Zm0-5H3v-2h18v2Zm0-5H3V6h18v2Z"%2F%3E%3C%2Fsvg%3E') !important;
    font-size: 30px !important;
}

.navbar-toggler {
    border: none !important;
    background-color: transparent !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar-toggler-icon:not(.collapsed) {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"%3E%3Cpath fill="%239e68f5" d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zM676.1 657.9c4.4 5.2.7 13.1-6.1 13.1h-58.9c-4.7 0-9.2-2.1-12.3-5.7L512 561.8l-86.8 103.5c-3 3.6-7.5 5.7-12.3 5.7H354c-6.8 0-10.5-7.9-6.1-13.1L470.2 512L347.9 366.1A7.95 7.95 0 0 1 354 353h58.9c4.7 0 9.2 2.1 12.3 5.7L512 462.2l86.8-103.5c3-3.6 7.5-5.7 12.3-5.7H670c6.8 0 10.5 7.9 6.1 13.1L553.8 512l122.3 145.9z"%2F%3E%3C%2Fsvg%3E');

}

.accordion-button:link, .accordion-button:visited, .accordion-button:hover, .accordion-button:active {
    color: #9E68F5 !important;
    text-decoration: none !important;
    border: hidden !important;
    border-color: #9E68F5 !important;
    box-shadow: 0px !important;
    border-bottom: 0px !important;

}

.accordion-button:focus {
    z-index: 3;
    border-bottom: 0px !important;
    border-color: transparent !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem transparent !important;
}