@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Raleway', sans-serif !important;
    /*font-family: 'Merriweather', serif;*/
}

.header-bg {
    background-color: #485084 !important;
}

.header-height {
    height: 120px !important;
}

.header-logo {
    height: 52px !important;
    margin-left: 15px !important;
}

li {
    white-space: nowrap !important;
}

.cta {
    background-color: #9E68F5 !important;
    border-radius: 10px !important;
    border: none !important;
    font-weight: 600 !important;
    letter-spacing: 1.7px;
}

#hero {
    background-image: url("img/Herobg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    margin-top: 120px;
    padding: 100px 50px;
}

#hero-form {
    background-color: white;
    padding: 35px;
    border-radius: 10px;
}

h1 {
    font-family: 'Merriweather', serif !important;
    font-weight: bold !important;
}

input {
    padding: 15px !important;
    border-radius: 10px !important;
    color: #212121 !important;
}

p {
    line-height: 25px !important;
    font-size: 17px !important;
}

h2 {
    font-family: 'Merriweather', serif !important;
    font-weight: bold !important;
}

#about {
    height: fit-content;
    padding: 100px 25px;
}

.about-img {
    width: -webkit-fill-available;
    max-width: 459px;
}

.about-img-box {
    position: absolute;
    z-index: -1;
    width: 421px;
    left: 200px;
    bottom: -562px;
    height: 191px;
}

#endometriosis {
    background-image: url("img/endometriosisbg.png");
    max-height: 614px;
    height: fit-content;
    padding: 0px 25px;
}

.endometriosis-img {
    margin-top: 50px !important;
    width: fit-content !important;
    max-width: 585px !important;
}

.p-color {
    color: #D5D5D5 !important;
}

.t-dark {
    color: #444444;
}

.t-purple {
    color: #9E68F5;
}

#symptoms {
    height: fit-content;
    padding: 150px 25px;
}

.sypmtoms-img {
    width: 120px !important;
    height: 120px !important;
}

h3 {
    font-family: 'Merriweather', serif !important;
    font-size: 25px !important;
    font-weight: bold !important;
    line-height: 32px !important;
}

.symptoms {
    background-color: #F9F9F9;
    border-radius: 10px;
    padding: 20px 30px !important;
}

#causes {
    background-image: url("/img/Other Treatment bg.png");
    height: fit-content;
    padding: 50px 25px;
}

.causes-img {
    width: fit-content !important;
    max-width: 505px !important;
}

#treatment {
    height: fit-content;
    max-height: 600px;
    padding: 50px 25px;
}

.treatment-img-box {
    position: absolute;
    z-index: -1;
    width: 421px;
    right: 39px;
    height: 460px;
}

.treatment-img {
    margin-top: 100px !important;
    width: 555px !important;
}


#plan {
    background-image: url("img/endometriosisbg.png");
    height: fit-content;
    padding: 50px 25px;
}

.plan-container {
    margin: 10px !important;
    width: 275px !important;
    height: 369px !important;
}

.plan-details {
    background-color: #F9F9F9;
    border-radius: 10px;
    padding: 25px !important;
}

.img-90 {
    width: 100px !important;
}

#robotic {
    height: fit-content;
    padding: 75px 75px;
}

.robotic-img {
    max-width: 100% !important;
}

#robotic-2 {
    height: fit-content;
    padding: 75px 75px;
    padding-top: 0px;
}

#services {
    background-image: url("img/Other Treatment bg.png");
    height: fit-content;
    padding: 50px 0px;
}

.services-container {
    margin: 10px !important;
    width: 340px !important;
    height: 320px !important;
}

#FAQ {
    height: fit-content;
    margin: 100px 50px;
}

.faq-title {
    font-size: 20px !important;
    font-weight: 600 !important;
}

.accordion-header {
    border: 1px solid #E8E8E8 !important;
    border-radius: 10px !important;
}

.accordion-button {
    background-color: transparent !important;
    padding: 5px 20px !important;
}

.accordion-item {
    border: none !important;
}

#footer {
    background-image: url("img/FooterBG.png");
    height: 927px;
}

#footer-form {
    background-color: none;
    border-radius: 10px;
}